.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: transparent;
  width:80px;
  height: 80px;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  border: 3px solid #0077b5;
 border-radius: 50%;  
  box-sizing: border-box;
}

.scroll-top .icon-wrapper {
  position: relative;
  color: #0077b5;
  transition: 0.5s;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-top:hover .icon-wrapper {
  color: #fff;
  transform: rotateY(360deg);
}

.scroll-top:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0077b5;
   border-radius: 50%; 
  transition: top 0.5s ease;
  z-index: 2;
}

.scroll-top:hover:before {
  top: 0;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}
